<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/h_01</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.iamnh.model.User"/>
        
        <mapping class="com.iamnh.model.Classroom"/>
        <mapping class="com.iamnh.model.Student"/>
        
        <mapping class="com.iamnh.model.Person"/>
        <mapping class="com.iamnh.model.IDCard"/>
        
        <mapping class="com.iamnh.model.Admin"/>
        <mapping class="com.iamnh.model.Role"/>
        
        <mapping class="com.iamnh.model.Teacher"/>
        <mapping class="com.iamnh.model.Course"/>
        <mapping class="com.iamnh.model.TeacherCourse"/>
    </session-factory>
    
</hibernate-configuration>
